PORT=3000
DB_CONNECT_STRING=mongodb://127.0.0.1:27017/codenest
JWT_KEY=your_jwt_secret_key
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000

# JDoodle API (for online code execution)
JDOODLE_CLIENT_ID=your_jdoodle_client_id
JDOODLE_CLIENT_SECRET=your_jdoodle_client_secret
JDOODLE_API_URL=https://api.jdoodle.com/v1/execute
